
.App{
    text-align: center;
}

#root{
    width: 100%;
}

.chat-message {
    background-color: #f2f2f2;
    padding: 1em;
    max-height: 450px;
    overflow-y: auto;
    border-radius: 25px;
    color:gray;
    align-items: flex-end;
    }
    
.message-right {
    background: #91fbff;
    border-radius: 25px;
    padding: 0.5em 1em ! important;
    margin: 1em;
    }

.message-left{
        background: aliceblue;
        padding: 0.5em 1em  !important;
        margin: 1em;
        border-radius: 25px;
        align-items: start;
        }
        
.message-text {
        font-size: 17px;
        padding: 10px;
        }
        
.logo-icon {
        height: 50px;
        width: 50px;
        border-radius: 200px;
        }    

.message-name{
    font-size: 15px;
    padding: 0em 0em  !important;
    margin: 0em;
}

.right-content{
    flex-direction: column;
    align-items: end;
} 

















